*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* :root{
    --main-color:var(#fcb700);
    --white-color:var(#ffffff);
    --parg-color:var(#fff);
    --black-color:var(#000000);
    --name-item:var(#2a00c0);
    --dark-red:var(#d01418)
    --border-color:var(#6666662a);
} */

body{
    background: #d34545;
    /* margin-top: 250px; */
    /* width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 1px solid black; */
}

h1,h2,h3,h4,h5,h6{
    color:#ffffff;
}

.count_item{
    color: #000000;
}
.container{
    width:75%;
    margin: auto;

}
@media (max-width:1500px)
{
    .container{
        width:90%;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
}
header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.logo1{
    width: 200px;
}
/* هي هي */
/* headera img .logo1 {
    width: 200px;
} */
header .top-nav .search{
    width: 500px;
    border: 2px solid #000000;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
header .top-nav .search :hover{
    background-color: #000000;
    color: #ff5900;
    transition: 0.3s ease-in-out;

}
header .top-nav .search input{
    padding: 18px 175px 18px 20px;
    border: none;
    outline:none;
    width: 100%;
}
header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    border: none;
    outline: none;
    background-color: #000000;
    height: 100%;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
}

header .top-nav .cart_header  {
    display: flex;
    gap: 10px;
    align-items: center;
}
header .top-nav .cart_header i{
    color: #000000;
    font-size: 20px;
    border: 1px solid
    border-color;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
header .cart_header .icon_cart i:hover{
    background-color: #000000;
    color: #ffffff;
}
header .top-nav .cart_header .icon_cart{
    position: relative;
}
header .top-nav .cart_header .count_item{
    position: absolute;
    background-color: #000000;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    font-size: 13px;
    top: -5px;
    right: 0px;
    color: #ffffff;
    border: 1px solid #000000;
}
header .top-nav .cart_header .tottal_price{
    margin-bottom: 9px;
}
header nav{
    border-top: 1px solid #000000;
}
header .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .links ul {
    display: flex;
    gap: 70px;
}
header .links ul li {
    color: #000000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
header .links ul li {
    position: relative;
    padding: 20px 0px;
}
header .links ul li ::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background: #ff5900;
    transition: 0.3s ease-in-out;
}
/* header .links ul li .active ::after{
    
} */
header .links ul li:hover ::after{
    width: 100%;
}
header .links .loging_signup a{
    color: #ffffff;
    padding: 10px 20px;
    background-color: #000000;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
/* end header */

/* cart */

.cart{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
.cart .top_cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .top_cart h3{
    color: #000000;
}
.cart .top_cart .close_cart i{
    cursor: pointer;
    font-size: 35px;
}
.cart .top_cart h3{
    font-size: 18px;
}
.cart .top_cart h3 span{
    font-size: 14px;
    color: #00000073;
    font-weight: normal;
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid #00000073 ; 
    margin: 20px;
    height: 100%;
}
.cart .buttom_cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart .buttom_cart .total .price_cart_total{
    color: #ff5900;
}
.cart .buttom_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart .buttom_cart .btn_cart{
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #ff5900;
    transition: 0.3s ease-in-out;
}
.cart .buttom_cart .btn_cart:hover{
    background: transparent;
}
.cart .buttom_cart .trans_bg{
    background: transparent;
}
.cart .buttom_cart .trans_bg:hover{
    background: #ff5900;
}